<div id="content-container"></div>

@section Scripts
{
    <script>
        $(function () {var table = $('<table></table>');
            for (var i = 0; i < 100; i++) {
                var tr = $('<tr></tr>');
                for (var j = 0; j < 100; j++) {
                    var td = $('<td></td>');
                    td.text(i + '*' + j + '=' + (i * j));
                    tr.append(td);
                }
                table.append(tr);
            }
            $('#content-container').append(table);
        });
    </script>
}